@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: white;
  background:
    radial-gradient(circle at top right, rgba(34,211,238,.18), transparent 35%),
    radial-gradient(circle at bottom left, rgba(59,130,246,.18), transparent 35%),
    #020617;
  font-family: Arial, Helvetica, sans-serif;
}